.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}
.navbar .logo {
  width: max(10%, 80px);
}
.navbar .profile {
  width: 40px;
}

.logo-admin {
  font-size: 2.5rem;
}

.logo-admin p {
  font-size: 1rem;
}
